# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Always state the H0 and H1 before conducting the hypothesis test.
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [2]:
salaries=pd.read_csv("Current_Employee_Names__Salaries__and_Position_Titles.csv")
salaries.columns= [e.lower().replace(' ','_') for e in salaries.columns]

Examine the `salaries` dataset using the `head` function below.

In [3]:
salaries.head()

,name,job_titles,department,full_or_part-time,salary_or_hourly,typical_hours,annual_salary,hourly_rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
salaries.isna().sum()

name                     0
job_titles               0
department               0
full_or_part-time        0
salary_or_hourly         0
typical_hours        25528
annual_salary         8174
hourly_rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
salaries['salary_or_hourly']

0        Salary
1        Salary
2        Hourly
3        Salary
4        Salary
          ...
33697    Salary
33698    Salary
33699    Salary
33700    Salary
33701    Salary
Name: salary_or_hourly, Length: 33702, dtype: object

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
salaries.groupby('department')['name'].nunique()

department
ADMIN HEARNG              38
ANIMAL CONTRL             75
AVIATION                1855
BOARD OF ELECTION        111
BOARD OF ETHICS            8
BUDGET & MGMT             44
BUILDINGS                258
BUSINESS AFFAIRS         167
CITY CLERK                88
CITY COUNCIL             362
COPA                     123
CULTURAL AFFAIRS          74
DAIS                    1032
DISABILITIES              28
FAMILY & SUPPORT         655
FINANCE                  544
FIRE                    4615
HEALTH                   467
HOUSING                   66
HOUSING & ECON DEV       154
HUMAN RELATIONS           17
HUMAN RESOURCES           75
INSPECTOR GEN             95
LAW                      398
LICENSE APPL COMM          1
MAYOR'S OFFICE           104
OEMC                    1737
POLICE                 13784
POLICE BOARD               2
PROCUREMENT               84
PUBLIC LIBRARY          1088
PUBLIC SAFETY ADMIN      244
STREETS & SAN           2170
TRANSPORTN              1111
TREASURER                 28
WATER MGMNT             1912
Name: name, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
# first we need to filter the hourly wages of all the hourly workers

hourly_wage= salaries['hourly_rate'].dropna()
hourly_wage

2        13.00
5        37.45
15       40.78
16       38.52
21       34.98
         ...
33676    25.95
33678    43.72
33681    51.43
33684    49.35
33688    37.45
Name: hourly_rate, Length: 8174, dtype: float64

In [8]:
#h0- hourly wage of workers = $30/hr
#h1- hourly wage <> $30/hr

from scipy.stats import ttest_1samp

stat, pval = ttest_1samp(hourly_wage, 30)
print('stat is  ', stat)
print('pvalue for the two-tailed test is ', pval)

stat is   31.211500329216044
pvalue for the two-tailed test is  3.825475847673794e-202

In [9]:
#since pvalue is way smaller than 0.05, therefore we reject the h0 hypothesis

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our Null hypothesis is less than or equal to, then to reject, the test statistic must be positive (rejects the <) and the p-value below 0.05 (rejects the =).

In [10]:
police_salaries = salaries[(salaries['department'] == 'POLICE') & (salaries['salary_or_hourly'] == 'Salary')]['annual_salary']
police_salaries

1         93354.0
4         90024.0
6        111444.0
7        103932.0
9         95736.0
           ...
33696     80016.0
33697     72510.0
33698     76266.0
33699     90024.0
33700     93354.0
Name: annual_salary, Length: 13824, dtype: float64

In [11]:
#h0- annual salary <=$86000/year
#h1- annual salary>$86000/year

stat, pval = ttest_1samp(police_salaries, 86000)
print('stat is  ', stat)
print('pvalue for the one-tailed test is ', pval/2)

stat is   18.51748561981861
pvalue for the one-tailed test is  6.119566952121482e-76

In [12]:
#since the pvalue is very small than 0.05, we reject the h0 hypothesis
# we can say that the chief of police was correct 
#the mean annual salary has increased from $86000/year from previous year

Using the `crosstab` function, find the department that has the most hourly workers.

In [13]:
pd.crosstab(salaries['department'], salaries['salary_or_hourly']).reset_index().sort_values(by='Hourly', ascending=False)

salary_or_hourly           department  Hourly  Salary
32                      STREETS & SAN    1846     329
35                        WATER MGMNT    1558     356
2                            AVIATION    1214     642
26                               OEMC    1077     660
12                               DAIS     745     288
33                         TRANSPORTN     726     387
14                   FAMILY & SUPPORT     357     299
30                     PUBLIC LIBRARY     356     732
9                        CITY COUNCIL      74     288
23                                LAW      48     350
31                PUBLIC SAFETY ADMIN      48     196
15                            FINANCE      45     499
27                             POLICE      24   13824
25                     MAYOR'S OFFICE      17      87
1                       ANIMAL CONTRL      12      63
11                   CULTURAL AFFAIRS      10      64
7                    BUSINESS AFFAIRS       7     160
19                 HOUSING & ECON DEV       3     151
29                        PROCUREMENT       2      82
17                             HEALTH       2     465
5                       BUDGET & MGMT       2      42
13                       DISABILITIES       1      27
28                       POLICE BOARD       0       2
34                          TREASURER       0      28
0                        ADMIN HEARNG       0      38
24                  LICENSE APPL COMM       0       1
22                      INSPECTOR GEN       0      95
21                    HUMAN RESOURCES       0      75
20                    HUMAN RELATIONS       0      17
16                               FIRE       0    4627
10                               COPA       0     123
8                          CITY CLERK       0      88
6                           BUILDINGS       0     258
4                     BOARD OF ETHICS       0       8
3                   BOARD OF ELECTION       0     111
18                            HOUSING       0      66

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [14]:
dept_hourly=salaries[(salaries['department']=='STREETS & SAN') & (salaries['salary_or_hourly']=='Hourly')]['hourly_rate']
dept_hourly

15       40.78
16       38.52
26       38.52
49       29.96
65       37.45
         ...
33623    38.01
33624    37.45
33667    37.45
33668    38.52
33676    25.95
Name: hourly_rate, Length: 1846, dtype: float64

In [15]:
#h0- hourly wage >= $35/hour
#h1- hourly wage < $35/hour

stat, pval = ttest_1samp(dept_hourly, 35)
print('stat is  ', stat)
print('pvalue for the one-tailed test is ', pval/2)

stat is   4.000138803968834
pvalue for the one-tailed test is  3.2902372218867895e-05

In [16]:
#the pvalue is very small than 0.05; however the stat is positive
#therefore we cant reject the h0 hypothesis

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [17]:
import scipy.stats
conf_level=0.95
degree_freedom=len(hourly_wage)-1 #hourly_wage is defined in challenge 2
wage_mean=np.mean(hourly_wage)
standard_error=scipy.stats.sem(hourly_wage)

confidence_interval=scipy.stats.t.interval(conf_level,degree_freedom,
                                          wage_mean,standard_error)

In [18]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (34.29839539204317, 34.874504045196865) .

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [19]:
conf_level=0.95
degree_freedom=len(police_salaries)-1 #police_salaries is defined in challenge 2
police_salaries_mean=np.mean(police_salaries)
standard_error=scipy.stats.sem(police_salaries)

confidence_interval=scipy.stats.t.interval(conf_level,degree_freedom,
                                          police_salaries_mean, standard_error)

In [20]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (88534.1182885883, 89134.11955863392) .

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.